{% extends 'base.html.twig' %}

{% block body %}
<div class="login-card">

    <h3>Connexion</h3>

    <div id="message"></div>

    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div class="alert alert-{{ label == 'danger' ? 'danger' : (label == 'warning' ? 'warning' : 'info') }}">{{ message }}</div>
      {% endfor %}
    {% endfor %}

    <form id="loginForm" method="post" action="{{ path('app_login') }}">
        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="mb-3">
            <label for="username" class="form-label">Email</label>
            <input 
                id="username" 
                name="_username" 
                class="form-control" 
                value="{{ last_username|default('') }}" 
                required 
                autofocus
            >
        </div>

        <div class="mb-3">
            <label for="password" class="form-label">Mot de passe</label>
            <input 
                id="password" 
                name="_password" 
                type="password" 
                class="form-control" 
                required
            >
        </div>

        <button class="btn btn-primary" type="submit">
            Se connecter
        </button>
    </form>
</div>


{% endblock %}
